{{- $news := where .Site.RegularPages "Section" "news" }}
{{- $news_num := (.Site.Params.widgets.news_num | default 10) }}

{{- if $news }}
<div class="widget-recent widget">
	<h4 class="widget__title">{{ T "news_title" }}</h4>
	<div class="widget__content">
		<ul class="widget__list">
			{{- range first $news_num $news }}
				{{ $date := .Date.Format "01/2006" }}
				{{- if lt now .Date }}{{ $date = "Upcoming" }}{{- end }}
				<li class="widget__item"><b>[{{ $date }}]</b> {{ .Content | plainify }}</li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}