{{- $path := printf "publications/links_format_%s.html" .format }}
{{- with .page }}
	{{- $filename := .File.BaseFileName }}
	{{- $scratch := newScratch }}
	{{- range $k, $v := .Params.links }}
		{{- if eq $k "arxiv" }}
			{{- $k = "arXiv" }}
			{{- $v = delimit (slice "https://arxiv.org/abs/" $v) "" }}
		{{- else if in (slice "slides" "poster") $k }}
			{{- $v = delimit (slice "/assets/research/" $filename "/" $v) "" }}
		{{- end }}
		{{- $scratch.SetInMap "links" (string $k) (string $v) }}
	{{- end }}
	{{- if isset .Params "bib" }}
		{{- $scratch.SetInMap "links" "bib" (printf "%s#bibtex" .Permalink) }}
	{{- end }}
	{{- $links := $scratch.Get "links" -}}
	{{- partial $path $links }}
{{- end }}